anyio==4.14.2
APScheduler==3.11.3
blinker==1.9.0
CacheControl==0.14.4
certifi==2026.7.22
cffi==2.1.1
charset-normalizer==3.5.1
click==8.4.2
cryptography==50.0.0
et_xmlfile==2.0.0
firebase_admin==7.5.0
Flask==3.1.3
Flask-SQLAlchemy==3.1.1
google-api-core==2.34.0
google-auth==2.57.0
google-auth-oauthlib==1.4.1
google-cloud-core==2.7.0
google-cloud-firestore==2.29.0
google-cloud-storage==3.13.1
google-crc32c==1.8.0
google-resumable-media==2.10.2
googleapis-common-protos==1.75.2
grpcio==1.83.1
grpcio-status==1.83.1
gspread==6.2.1
gunicorn==26.1.0
h11==0.16.0
h2==4.4.1
hpack==4.2.0
httpcore==1.0.9
httpx==0.28.1
hyperframe==6.1.0
idna==3.19
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.3
msgpack==1.2.2
numpy==2.5.2
oauthlib==3.3.1
openpyxl==3.1.5
pandas==3.0.5
pillow==12.3.0
proto-plus==1.28.4
protobuf==7.36.0
psycopg2-binary==2.9.12
pyasn1==0.6.4
pyasn1_modules==0.4.2
pycparser==3.0
PyJWT==2.13.0
python-dateutil==2.9.0.post0
requests==2.34.2
requests-oauthlib==2.0.0
six==1.17.0
SQLAlchemy==2.0.52
typing_extensions==4.16.0
tzlocal==5.4.4
urllib3==2.7.0
Werkzeug==3.1.8
